<form class="example-form" [formGroup]="formControl" (ngSubmit)="login()">

  <strong class="sesion" >Iniciar Sesión</strong>

    
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Usuario</mat-label>
    <input
      matInput
      formControlName="user"
      placeholder="Usuario"
      
    />
    <mat-error
      *ngIf="
        this.formControl.get('user')?.hasError('user') &&
        !this.formControl.get('user')?.hasError('required')
      "
    >
      <span>Ingresar nombre de usuario</span>
    </mat-error>
    <mat-error *ngIf="this.formControl.get('user')?.hasError('required')">
      Campo <strong>obligatorio</strong>
    </mat-error>
    
    
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input
      matInput
      type="password"
      formControlName="password"
      placeholder="Contraseña"
      
    />
    <mat-error
      *ngIf="
        this.formControl.get('password')?.hasError('minlength') &&
        !this.formControl.get('password')?.hasError('required')
      "
    >
    
      Ingresar contraseña de minimo 6 caracteres
    </mat-error>
    <mat-error *ngIf="this.formControl.get('password')?.hasError('required')">
      Campo <strong>obligatorio</strong>
    </mat-error>
    
    
  </mat-form-field>
  

    <button mat-raised-button type="submit" color="warn" style="margin: auto 25%;" [disabled]="this.formControl.invalid" >Ingresar</button>

    

     <!--
        <p class="parrafo">¿No tienes una cuenta? </p> 

    
    <button mat-button color="primary" routerLinkActive="router-link-active" color="accent" class="button" (click)="onNoClick()">Registro</button>

     -->
    
    

  
</form>



  


