<form class="example-form" [formGroup]="formControl" (ngSubmit)="login()">

    <img src="../../../../../assets/img/login/logot.png" width="30px" height="35px" style="margin: auto 40%; text-align: center;">

    <strong style="margin: 20px 20%; text-align: center;">Iniciar Sessión</strong>

    
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Usuario</mat-label>
    <input
      matInput
      formControlName="user"
      placeholder="Usuario"
      
    />
    <mat-error
      *ngIf="
        this.formControl.get('user')?.hasError('user') &&
        !this.formControl.get('user')?.hasError('required')
      "
    >
      <span>Ingresar nombre de usuario</span>
    </mat-error>
    <mat-error *ngIf="this.formControl.get('user')?.hasError('required')">
      Campo <strong>obligatorio</strong>
    </mat-error>
    
    
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input
      matInput
      formControlName="password"
      placeholder="Contraseña"
      
    />
    <mat-error
      *ngIf="
        this.formControl.get('password')?.hasError('minlength') &&
        !this.formControl.get('password')?.hasError('required')
      "
    >
    
      Ingresar contraseña 
    </mat-error>
    <mat-error *ngIf="this.formControl.get('password')?.hasError('required')">
      Campo <strong>obligatorio</strong>
    </mat-error>
    
    
  </mat-form-field>
  

    <button mat-stroked-button type="submit" color="warn" style="margin: auto 25%;" [disabled]="this.formControl.invalid" >Ingresar</button>

    
   
  
</form>

<p>¿No tienes una cuenta? </p> 

    <a mat-button routerLink="auth/registro" routerLinkActive="router-link-active" color="accent" (click)="openDialogR()" mat-dialog-close>Registrate
      
    </a>


  


