<form class="example-form" [formGroup]="formControl" (ngSubmit)="login()">

    <img src="../../../../../assets/img/login/logot.png" width="30px" height="35px" style="margin: auto 40%; text-align: center;">

    <strong style="margin: 20px 20%; text-align: center;">Iniciar Sessión</strong>

    
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Correo</mat-label>
    <input
      matInput
      formControlName="email"
      placeholder="Ex. pat@example.com"
      
    />
    <mat-error
      *ngIf="
        this.formControl.get('email')?.hasError('email') &&
        !this.formControl.get('email')?.hasError('required')
      "
    >
      <span>Ingresar correo valido</span>
    </mat-error>
    <mat-error *ngIf="this.formControl.get('email')?.hasError('required')">
      Campo <strong>obligatorio</strong>
    </mat-error>
    
    
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input
      matInput
      formControlName="password"
      placeholder="Minimo 6 caracteres"
      
    />
    <mat-error
      *ngIf="
        this.formControl.get('password')?.hasError('minlength') &&
        !this.formControl.get('password')?.hasError('required')
      "
    >
    
      Ingresar contraseña Valida
    </mat-error>
    <mat-error *ngIf="this.formControl.get('password')?.hasError('required')">
      Campo <strong>obligatorio</strong>
    </mat-error>
    
    
  </mat-form-field>
  

    <button mat-stroked-button type="submit" color="warn" style="margin: auto 25%;" [disabled]="this.formControl.invalid" (click)="onNoClick()">Ingresar</button>

    
   
  
</form>

<p>¿No tienes una cuenta? </p> 

    <a mat-button routerLink="auth/registro" routerLinkActive="router-link-active" color="accent" (click)="openDialogR()" mat-dialog-close>Registrate</a>


  


