<div fxLayout="column" fxLayoutGap="10px" class="flex-container">
  <div fxFlex="25%" class="block-1">
    <div fxFlex fxLayoutAlign="center center" fxFlexFill class="grid-item">
      
      
       
       <img src="../../../../../assets/img/beneficios/beneficios1.jpg" width="100%" height="400vh" class="cont-img">
       
              
       <div class="centrar">
         
         Servicios y Beneficios
         
       </div>

      
      
      
    </div>
  </div>

  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutGap="10px"
    fxFlex="50%"
    class="block-2"
    
  >
    <div
      fxFlex
      fxHide.lt-md
      fxLayoutAlign="center center"
      fxFlexFill
      class="grid-item"
    >
      
    </div>
    <div
      fxFlex="50%"
      fxLayoutAlign="center center"
      fxFlexFill
      class="grid-item"
    >
      <div fxLayout = "column" fxFlexAlign="center center" class="imagenes-p">

        <img src="../../../../../assets/img/beneficios/graduation.png" alt="">
        <h2>Becas Escolares</h2>

      </div>
    </div>
    <div fxFlex fxHide.lt-md fxLayoutAlign="center center" fxFlexFill class="grid-item">
      
    </div>
  </div>


  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutGap="10px"
    fxFlex="50%"
    class="block-2"
    *ngFor="let item of content"
  >
    <div
      fxFlex
      fxHide.lt-md
      fxLayoutAlign="center center"
      fxFlexFill
      class="grid-item"
    >
      
    </div>
    <div
      fxFlex="50%"
      fxLayoutAlign="center center"
      fxFlexFill
      class="grid-item"
    >
      <div fxLayout = "column" fxFlexAlign="center center" class="imagenes">

        <img src="{{item.imagen}}" alt="">
        <h2>{{item.description}}</h2>

      </div>
    </div>
    <div fxFlex fxHide.lt-md fxLayoutAlign="center center" fxFlexFill class="grid-item">
      
    </div>
  </div>

  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutGap="10px"
    fxFlex="50%"
    class="block-2"
    
  >
    <div
      fxFlex
      fxHide.lt-md
      fxLayoutAlign="center center"
      fxFlexFill
      class="grid-item"
    >
      
    </div>
    <div
      fxFlex="50%"
      fxLayoutAlign="center center"
      fxFlexFill
      class="grid-item"
    >
      <div fxLayout = "column" fxFlexAlign="center center" class="imagenes-v">

        <img src="../../../../../assets/img/beneficios/vinculacion1.png" alt="">
        <h2>Vinculación</h2>

      </div>
    </div>
    <div fxFlex fxHide.lt-md fxLayoutAlign="center center" fxFlexFill class="grid-item">
      
    </div>
  </div>


  <app-carrousel-s></app-carrousel-s>

  <h1>BENEFICIOS</h1>

  

  <div fxFlex="25%" fxFlex fxLayoutAlign="center center" class="block-3">
    <div fxFlex fxLayoutAlign="center center" fxFlexFill class="grid-item">
      <div fxLayout = "column" >
        <h2>Representatividad</h2>
        <p class="texto">
          Impulso y gestión de temas ante las autoridades y organismos  municipales y estatales en beneficio del desarrollo del ecosistema empresarial así como temas de impacto político, social y económico para impulsar el bien común.
        </p>
      </div>
    </div>
  </div>

  <div fxFlex="25%" fxFlex fxLayoutAlign="center center" class="block-3">
    <div fxFlex fxLayoutAlign="center center" fxFlexFill class="grid-item">
      <div fxLayout = "column" >
        <h2>Oportunidad de vínculo, participación y aportación</h2>

        <p class="texto">
          Los representantes de las empresas pueden lograr un vínculo y relaciones con otros empresarios y actores locales a través de los diferentes eventos, así como la oportunidad de participar en las  Comisiones de Trabajo que el Centro Empresarial tenga para impulsar alguna propuesta o iniciativa en particular.        
        </p>
      </div>
    </div>
  </div>

  <div fxFlex="25%" fxFlex fxLayoutAlign="center center" class="block-3">
    <div fxFlex fxLayoutAlign="center center" fxFlexFill class="grid-item">
      <div fxLayout = "column" >
        <h2>Servicios directos para el apoyo a la operatividad y competitividad de la empresa</h2>
      <p class="texto">
        Conforme a las necesidades de los socios de cada Centro Empresarial se ofrecen servicios concretos con tarifa preferencial  como: capacitaciones, asesorías, bolsa de trabajo, eventos empresariales, gestión de trámites, entre otros. 
      </p>
      </div>
    </div>
  </div>
  


  <H1>CONVENIOS NACIONALES</H1>
  <div
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >
    <div
      fxFlex="15%"
      fxFlex.sm="25%"
      fxFlex.lg="20%"
      fxLayoutAlign="center center"
      *ngFor="let convenio of convenios"
    >
      <mat-card>
        <mat-card-header>
          <mat-card-title ></mat-card-title>
          <mat-card-subtitle ></mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <img matCardImage src="{{ convenio.imagen }}" class="contenido-img" />
        </mat-card-content>
        
      </mat-card>
    </div>
  </div>

  <h1>COMISIONES DE TRABAJO</h1>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="50%" class="block-5">
    <div fxFlex  fxLayoutAlign="start start" 
      fxFlexFill class="grid-item">

      <div fxLayout fxFlexAlign="center center">
        <mat-icon style="color: var(--third); margin-right: 10px;">done_outline</mat-icon>
        <p class="texto">Comisión de mujeres embarazadas</p>
        <br>
      </div>
    </div>
    <div fxFlex="33%" fxLayoutAlign="start start"  
      fxFlexFill class="grid-item">
      <div fxLayout fxFlexAlign="center center">
        <mat-icon style="color: var(--third); margin-right: 10px;">done_outline</mat-icon>
        <p class="texto">Comisión de industria de calzado</p>
        <br>
      </div>  
      
    </div>
    <div fxFlex fxLayoutAlign="start start" 
      fxFlexFill class="grid-item">

      <div fxLayout fxFlexAlign="center center">
        <mat-icon style="color: var(--third); margin-right: 10px;">done_outline</mat-icon>
        <p class="texto">Comisión de vivienda</p>
        <br>
      </div>
      
    </div>    
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="50%" class="block-2">
    <div fxFlex  fxLayoutAlign="start start" 
      fxFlexFill class="grid-item">

      <div fxLayout fxFlexAlign="center center">
        <mat-icon style="color: var(--third); margin-right: 10px;">done_outline</mat-icon>
        <p class="texto">Comisión fiscal</p>
        <br>
      </div>
    </div>
    <div fxFlex="33%" fxLayoutAlign="start start"  
      fxFlexFill class="grid-item">
      <div fxLayout fxFlexAlign="center center">
        <mat-icon style="color: var(--third); margin-right: 10px;">done_outline</mat-icon>
        <p class="texto">Comisión de justicia</p>
        <br>
      </div>  
      
    </div>
    <div fxFlex fxLayoutAlign="start start"  
      fxFlexFill class="grid-item">

      <div fxLayout fxFlexAlign="center center">
        <mat-icon style="color: var(--third); margin-right: 10px;">done_outline</mat-icon>
        <p class="texto">Comisión de empresarios jovenes</p>
        <br>
      </div>
      
    </div>    
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="50%" class="block-2">
    <div fxFlex  fxLayoutAlign="start start"  
      fxFlexFill class="grid-item">
        <div fxLayout fxFlexAlign="center center">
          <mat-icon style="color: var(--third); margin-right: 10px;">done_outline</mat-icon>
            <p class="texto">Comisión de energia </p>
            <br>
        </div>
      
    </div>
    <div fxFlex="33%" fxLayoutAlign="start start"  
      fxFlexFill class="grid-item">
      
      <div fxLayout fxFlexAlign="center center">
        <mat-icon style="color: var(--third); margin-right: 10px;">done_outline</mat-icon>
        <p class="texto">Comisión de negocios y financiamiento</p> 
        <br>
      </div>
      
    </div>
    <div fxFlex fxLayoutAlign="start start"  
      fxFlexFill class="grid-item">

      <div fxLayout fxFlexAlign="center center">
        <mat-icon style="color: var(--third); margin-right: 10px;">done_outline</mat-icon>
        <p class="texto">Comisión de capacitación</p>
        <br>
      </div>
      
    </div>    
  </div>


  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="50%" class="block-2">
    <div fxFlex  fxLayoutAlign="start start"  
      fxFlexFill class="grid-item">

      <div fxLayout fxFlexAlign="center center">
        <mat-icon style="color: var(--third); margin-right: 10px;">done_outline</mat-icon>
        <p class="texto">Comisión laboral y de capital humano</p>
        <br>
      </div>
      
    </div>
    <div fxFlex="33%" fxLayoutAlign="start start"  
      fxFlexFill class="grid-item">
      
      <div fxLayout fxFlexAlign="center center">
        <mat-icon style="color: var(--third); margin-right: 10px;">done_outline</mat-icon>
        <p class="texto">Comisión de seguridad social y salud</p>
        <br>
      </div>
      
    </div>
    <div fxFlex fxLayoutAlign="start start"  
      fxFlexFill class="grid-item">

      <div fxLayout fxFlexAlign="center center">
        <mat-icon style="color: var(--third); margin-right: 10px;">done_outline</mat-icon>
        <p class="texto">Comisión de educación</p>
        <br>
      </div>
      
    </div>    
  </div>


  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="50%" class="block-2">
    <div fxFlex  fxLayoutAlign="start start"  
      fxFlexFill class="grid-item">
        <div fxLayout fxFlexAlign="center center">

          <mat-icon style="color: var(--third); margin-right: 10px;">done_outline</mat-icon>
            <p class="texto">Comisión de innovación empresarial</p>
            <br>
        </div>
      
    </div>
    <div fxFlex="33%" fxLayoutAlign="start start"  
      fxFlexFill class="grid-item">
      <div fxLayout fxFlexAlign="center center">
        <mat-icon style="color: var(--third); margin-right: 10px;">done_outline</mat-icon>
        <p class="texto">Comisión de desarrollo económico y regional</p> 
        <br>
      </div> 
      
    </div>
    <div fxFlex fxLayoutAlign="start start"  
      fxFlexFill class="grid-item">

      <div fxLayout fxFlexAlign="center center">
        <mat-icon style="color: var(--third); margin-right: 10px;">done_outline</mat-icon>
        <p class="texto">Comisión de medio ambiente</p>
        <br>
      </div>
      
    </div>    
  </div>


  
</div>



