<div class="flex-container container">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" class="flex-container">
        <div fxFlex fxLayoutAlign="center center" 
          fxFlexFill class="grid-item">
            <img src="../../../../../assets/img/logos/coparmex1.png"  alt="" class="footer-logo">
        </div>
        <div fxFlex="33%" fxLayoutAlign="center center" 
          fxFlexFill class="grid-item">

          <div fxLayout="column">

            <h3>Dirección</h3>
            
        
        </div>
        <div fxFlex fxLayoutAlign="center center" 
          fxFlexFill class="grid-item">
          <div fxLayout="column" >

            <h3>Redes Sociales</h3>
            

          </div>
        </div>
      </div>
</div>
