.container {
       
    background-color: var(--second);
  }
  
  .grid-item {
    background-color: lightsalmon;
    border-radius: 5px;
    padding: 10px;
    height: 100px;
  }

  .footer-logo{
      width: 200px;
      height: 150px;
      text-align: center;
      
  }