
<div fxLayout="column" fxLayoutGap="10px" class="flex-container">

    
    <div fxLayout fxLayout.xs fxLayout.sm fxLayout.md class="flex-container">

        <carousel
        [images]="imagesForSlider"
        [objectFit]="'cover'"
        [cellWidth]="'100%'"
        [height]="400"
        [arrows]="false"
        
      >
      </carousel>
    
    </div>

    
    

    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" 
       class="block-2">
        <div fxFlex.gt-sm="0%" fxFlex.lt-md="0%" fxLayoutAlign="center center" 
        fxFlexFill>
        
        </div>
        <div fxFlex.gt-sm="50%" fxFlex.lt-md="50%" fxLayoutAlign="center center" 
        fxFlexFill class="grid-item">
            <p class="texto">Somos la confederación patronal de la República Mexicana
            
            </p>
        </div>
    </div>

    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" 
       class="block-2">
        <div fxFlex.gt-sm="50%" fxFlex.lt-md="50%" fxLayoutAlign="center center" 
        fxFlexFill class="grid-item">
        <p class="texto" >Somos un sindicato de empresarios de afiliación voluntaria que integra a más de 36 mil socios de todos los tamaños y actividades, con presencia en toda la República Mexicana.

        </p>
        </div>
        <div fxFlex.gt-sm="0%" fxFlex.lt-md="0%" fxLayoutAlign="center center" 
        fxFlexFill ></div>
    </div>

    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" 
        class="block-2">
        <div fxFlex.gt-sm="0%" fxFlex.lt-md="0%" fxLayoutAlign="center center" 
        fxFlexFill>
        
        </div>
        <div fxFlex.gt-sm="50%" fxFlex.lt-md="50%" fxLayoutAlign="center center" 
        fxFlexFill class="grid-item">
            <p class="texto">Somos una organización política en sentido amplio (no apartidista), por que defendemos los intereses legítimos en la libre empresa y su quehacer.
                        
            </p>
        </div>
    </div>

    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" 
        class="block-2">
        <div fxFlex.gt-sm="50%" fxFlex.lt-md="50%" fxLayoutAlign="center center" 
        fxFlexFill class="grid-item">
        <p class="texto">Se sustenta en principios y valores regidos por la ética y arientados a la consecución del bien común.

        </p>
        </div>
        <div fxFlex.gt-sm="0%" fxFlex.lt-md="0%" fxLayoutAlign="center center" 
        fxFlexFill ></div>
    </div>

    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" 
    class="block-2">
    <div fxFlex.gt-sm="0%" fxFlex.lt-md="0%" fxLayoutAlign="center center" 
    fxFlexFill>
    
    </div>
    <div fxFlex.gt-sm="50%" fxFlex.lt-md="50%" fxLayoutAlign="center center" 
    fxFlexFill class="grid-item">
        <p class="texto">Pertenecemos a una organización que tiene 92 años de vida con fortaleza institucional y visión de modernidad, contribuyendo a la transformación de México.
                    
        </p>
    </div>
</div>

   <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="50%" class="block-2">
      <div fxFlex fxHide.lt-md fxLayoutAlign="center center" 
        fxFlexFill class="grid-item">B</div>
      <div fxFlex="75%" fxLayoutAlign="center center" 
        fxFlexFill class="grid-item">C</div>
      <div fxFlex fxLayoutAlign="center center" 
        fxFlexFill class="grid-item">D</div>
    </div>



    <div fxFlex="25%" class="block-3">
      <div fxFlex fxLayoutAlign="center center" fxFlexFill class="grid-item">E</div>
    </div>


</div>

