.container {
    padding: 5px;
    width: 50%;
  }

  .imagen{
      position: relative;
      display: inline-block;
      text-align: center;
  }

  .centrar{
      position: absolute;
      font-size: 2.5rem;
      color: var(--third);
      top: 4.7%;
      left: 5%;
  }
  
  .grid-item {
    /*background-color: lightsalmon;*/
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    height: 100px;
  
  }

.texto{
    text-align: center;
    font-size: 1rem;
}

.titulo2{
    text-align: center;
    font-size: 1.6rem;
    
}

.parrafo2{
    text-align: center;
    font-size: 1.2rem;
}

.titulo{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 2rem;
}




.imagenes{
    width: 150px;
    height: 150px;
    margin-right: 20px;
    
}

.radio{
    border-radius: 50%;
}

#organigrama{
    width: 950px;
    height: 900px;
}

 