.container {
    padding: 15px;
    height: 200vh;
    
  }
  
  .grid-item {
    
    border-radius: 5px;
    padding: 10px;
    height: 100px;
  }

  .block-1{
    margin-top: 20px;
  }

  .texto{
      text-align: center;
      font-size: 1.2rem;
  }

  .titulo2{
      text-align: center;
      font-size: 1.6rem;
      
  }

  .parrafo2{
      text-align: center;
      font-size: 1.2rem;
  }

  .titulo{
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 2rem;
  }
  #logoh{
      width: 70vh;
  }

  .video{
      margin: auto;
      
  }
  
  .imagenes-i{
      width: 250px;
      border-radius: 15%;
      margin: auto;
 }

 #mapa{
     width: 100%;
     
 }

 #mapa1{
     
     width: 100%;
 }