

<div fxLayout fxLayout.xs fxLayout.sm fxLayout.md class="flex-container">

    <carousel
    [images]="imagesForSlider"
    [objectFit]="'cover'"
    [cellWidth]="'100%'"
    [height]="450"
    [autoplay]="true"
    [transitionDuration]="2000"
    [dots]="true"
    [loop]="true"
  >
  </carousel>

</div>

<div fxLayout="column" fxLayoutGap="10px" class="flex-container">

    
  <div
    fxLayout.gt-sm="row"
    fxLayout.lt-md="column"
    fxLayoutGap="10px"
    fxFlex="33%"
    class="block-1"
  >
    <div fxFlex.gt-sm="50%" fxFlex.lt-md="50%" fxFlexFill class="grid-item">
      <h1 class="titulo">COPARMEX</h1>
      <p class="texto">
        Es la Confederación Patronal de la República Mexicana que surge después
        de una convención de la Confederación de Cámaras Nacionales de Comercio
        e Industria que congregó a representantes de distintas cámaras de
        comercio, industria, minería, agricultura y ganadería. Para tal efecto,
        nuestros fundadores encontraron en la figura “sindical” la forma
        jurídica que permitía libertad y autonomía bajo la definición:
        “asociación de trabajadores o patrones que se reúne para el estudio
        defensa y mejoramiento de sus intereses”.
      </p>
    </div>

    <div
      fxFlex.gt-sm="50%"
      fxFlex.lt-md="50%"
      fxLayoutAlign="center center"
      fxFlexFill
      class="grid-item"
    >
      <img src="../../../../../assets/img/logos/Coparmex2.png" id="logoh" />
    </div>
  </div>

  

  <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlexAlign="center center">
    <div fxLayout="column" fxFlexAlign="center center">
      <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxFlexFill class="grid-item">
        <h1 class="titulo">CARACTERÍSTICAS</h1>
        <H2 class="titulo2">Asociación Voluntaria</H2>
        <p class="parrafo2">
          Los afiliados de Coparmex se asocian con el sindiato de manera
          voluntaria.
        </p>
        <div fxLayout fxFlexAlign="center center">
          <img
            src="../../../../../assets/img/inicio/voluntaria.PNG"
            class="imagenes-i"
          />
        </div>
      </div>
      <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxFlexFill class="grid-item">
        <H2 class="titulo2">Independencia</H2>
        <p class="parrafo2">
          Esto le permite perseguir abierta y transparentemente la defensa de
          los intereses de sus afiliados y la promoción de las condiciones para
          la prosperidad del país.
        </p>
        <div fxLayout fxFlexAlign="center center">
          <img
            src="../../../../../assets/img/inicio/indeoendencia.png"
            class="imagenes-i"
          />
        </div>
      </div>

      <div
        fxFlex.gt-sm="100%"
        fxFlex.lt-md="50%"
        fxFlexAlign="center center"
        fxFlexFill
        class="grid-item"
      >
        <H2 class="titulo2">Apertura</H2>
        <p class="parrafo2">
          Cualquier actividad empresarial legal está representada dentro de la
          confederación.
        </p>
        <div fxLayout fxFlexAlign="center center">
          <img
            src="../../../../../assets/img/inicio/apertura.png"
            class="imagenes-i"
          />
        </div>
      </div>

      <div
        fxFlex.gt-sm="100%"
        fxFlex.lt-md="50%"
        fxFlexAlign="center center"
        fxFlexFill
        class="grid-item"
      >
        <H1 class="titulo">SER COPARMEX</H1>

        <div fxLayout fxLayout.xs fxLayout.sm fxLayout.md fxFlexAlign="center center">
          <youtube-player class="video"
            videoId="4x-7MwdI6T0"
            suggestedQuality="highres"
            [height]="250"
            [width]="500"
            [startSeconds]="4"
            [endSeconds]="8"
          >
          </youtube-player>
        </div>
      </div>

      
    </div>


    

  </div>

  <div
    fxLayout.gt-sm="row"
    fxLayout.lt-md="column"
    fxLayoutGap="10px"
    fxFlex="33%"
    class="block-1"
  >
    <div fxFlex.gt-sm="50%" fxFlex.lt-md="50%" fxFlexFill fxLayoutAlign="center center" class="grid-item">
        <div fxLayout="column">
            <H1 class="titulo">REPRESENTATIVIDAD</H1>
       <p class="texto">

        Nuestros 65 Centros Empresariales, reunidos atráves de 14 Federaciones a lo largo y ancho de la República Mexicana, conforman la representación local y la fuerza Nacional de la Confederación.

       </p>
        <img src="../../../../../assets/img/inicio/mapa.png"  id="mapa"/>
        </div>
        
       
      
    </div>

    <div
      fxFlex.gt-sm="50%"
      fxFlex.lt-md="50%"
      fxLayoutAlign="center center"
      fxFlexFill
      class="grid-item"
    >
      <img  src="../../../../../assets/img/inicio/mapa1.png " id="mapa1"/>
    </div>
  </div>

  
</div>
