
  <div fxLayout fxFlexAlign="center">
    <button mat-icon-button>
      <mat-icon>
        <a href="https://es-la.facebook.com/coparmexth/" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="facebook" class="iconos-redes"></fa-icon>
        </a>
      </mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>
        <a href="https://twitter.com/coparmexteh" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="twitter" class="iconos-redes"></fa-icon>
        </a>
      </mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>
        <a href="https://mx.linkedin.com/in/coparmex-tehuac%C3%A1n-57603a220"  target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="linkedin" class="iconos-redes"></fa-icon>
        </a>
      </mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>
        <a href="https://www.instagram.com/coparmexth/?hl=es" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="instagram" class="iconos-redes"></fa-icon>
        </a>
      </mat-icon>
    </button>
  </div>
