
  <div fxLayout fxFlexAlign="center">
    <button mat-icon-button>
      <mat-icon>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="facebook" class="iconos-redes"></fa-icon>
        </a>
      </mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="twitter" class="iconos-redes"></fa-icon>
        </a>
      </mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="linkedin" class="iconos-redes"></fa-icon>
        </a>
      </mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="instagram" class="iconos-redes"></fa-icon>
        </a>
      </mat-icon>
    </button>
  </div>
