<div fxLayout="column" fxLayoutGap="10px" class="fx-container">
    <div fxFlex="25%" class="block-1">
      <div fxFlex fxLayoutAlign="center center" fxFlexFill class="grid-item">

        <img src="../../../../../assets/img/contacto/contacto.jpg" alt="" width="100%" height="400vh">
        <div class="centrar">Contacto</div>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="50%" class="block-2">
      <div fxFlex fxHide.lt-md fxLayoutAlign="center center" 
        fxFlexFill class="grid-item"></div>
      
      <div fxFlex="75%" fxLayoutAlign="center center" 
        fxFlexFill class="grid-item">
        <div fxLayout="column" fxFlexAlign="center center">
          <H1>ESCRÍBENOS</H1>
          <form class="example-form"  (ngSubmit)="onClick()">
                    
            <table class="example-full-width" cellspacing="0"><tr>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre de la empresa</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre del representante</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Correo Electronico</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Teléfono</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Giro de la empresa</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Mensaje</mat-label>
                <textarea matInput placeholder=""></textarea>
              </mat-form-field>

              <div class="content-b">
                <button mat-raised-button color="warn" class="centrar-b">Enviar</button>
              </div>

            </tr></table>
          
            
          </form>
          
        </div>
      </div>
      <div fxFlex fxHide.lt-md fxLayoutAlign="center center" 
        fxFlexFill class="grid-item"></div>
    </div>
    <div fxFlex="25%" class="block-3">
      <div fxFlex fxLayoutAlign="center center" fxFlexFill class="grid-item"></div>
    </div>
  </div>
