/* You can add global styles to this file, and also import other style files */
:root{
    --primary: #1947ba;
    --second:#0971ce;
    --third: #041a72;
    --margin-left: 5%;
}
html, body { height: 100%; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1{
    color: var(--primary);
    font-size: 32px;
    
    
}

