.grid-item {
   
    border-radius: 5px;
    
    height: 100px;
  }
  .content-imagen{
     
      position: relative;
      
  }

  h1{
      margin:20px auto;
  }

  .centrar{
      position: absolute;
      left: 5%;
      margin: auto;
      font-size: 2.5rem;
      color: var(--third);
  }

  .imagenes{
      width: 80%;
      height: 500px;
      margin: 30px auto;
  }