<div fxLayout="column" fxLayoutGap="10px" class="flex-container">
  <div fxLayout="row" fxFlex="33%" class="block-1">
    <div fxFlex fxLayoutAlign="center center" fxFlexFill class="grid-item">
      <img
        src="../../../../../assets/img/eventos/eventos2.jpg"
        alt=""
        class="content-imagen"
        width="100%"
        height="400vh"
      />
      <div class="centrar">Eventos</div>
    </div>
  </div>
  <H1>DESAYUNOS INFORMATIVOS!!!</H1>

  <div
    fxLayout.gt-sm="row"
    fxLayout.lt-md="column"
    fxFlex="33%"
    class="block-2"
  >
    <div
      fxFlex.gt-sm="0%"
      fxFlex.lt-md="0%"
      fxHide.lt-md
      fxLayoutAlign="center center"
      fxFlexFill
      class="grid-item"
    ></div>
    <div
      fxFlex.gt-sm="50%"
      fxFlex.lt-md="50%"
      fxLayoutAlign="center center"
      fxFlexFill
      class="grid-item"
    >
    <img src="../../../../../assets/img/eventos/junio.jpeg" alt="" class="imagenes">
    </div>
  </div>

  <div
    fxLayout.gt-sm="row"
    fxLayout.lt-md="column"
    fxFlex="33%"
    class="block-2"
  >
    <div
      fxFlex.gt-sm="50%"
      fxFlex.lt-md="50%"
      fxLayoutAlign="center center"
      fxFlexFill
      class="grid-item"
    >
    <img src="../../../../../assets/img/eventos/mayo.jpeg" alt="" class="imagenes">
    </div>
    <div
      fxFlex.gt-sm="0%"
      fxFlex.lt-md="0%"
      fxHide.lt-md
      fxLayoutAlign="center center"
      fxFlexFill
      class="grid-item"
    ></div>
  </div>

  <div
    fxLayout.gt-sm="row"
    fxLayout.lt-md="column"
    fxFlex="33%"
    class="block-2"
  >
    <div
      fxFlex.gt-sm="0%"
      fxFlex.lt-md="0%"
      fxHide.lt-md
      fxLayoutAlign="center center"
      fxFlexFill
      class="grid-item"
    ></div>
    <div
      fxFlex.gt-sm="50%"
      fxFlex.lt-md="50%"
      fxLayoutAlign="center center"
      fxFlexFill
      class="grid-item"
    >
    <img src="../../../../../assets/img/eventos/abril.jpeg" alt="" class="imagenes">
    </div>
  </div>

  <div
    fxLayout.gt-sm="row"
    fxLayout.lt-md="column"
    fxFlex="33%"
    class="block-2"
  >
    <div
      fxFlex.gt-sm="50%"
      fxFlex.lt-md="50%"
      fxLayoutAlign="center center"
      fxFlexFill
      class="grid-item"
    >
    <img src="../../../../../assets/img/eventos/marzo.jpeg" alt="" class="imagenes">
    </div>
    <div
      fxFlex.gt-sm="0%"
      fxFlex.lt-md="0%"
      fxHide.lt-md
      fxLayoutAlign="center center"
      fxFlexFill
      class="grid-item"
    ></div>
  </div>

  <div
    fxLayout.gt-sm="row"
    fxLayout.lt-md="column"
    fxFlex="33%"
    class="block-2"
  >
    <div
      fxFlex.gt-sm="0%"
      fxFlex.lt-md="0%"
      fxHide.lt-md
      fxLayoutAlign="center center"
      fxFlexFill
      class="grid-item"
    ></div>
    <div
      fxFlex.gt-sm="50%"
      fxFlex.lt-md="50%"
      fxLayoutAlign="center center"
      fxFlexFill
      class="grid-item"
    >
    <img src="../../../../../assets/img/eventos/aniversario.jpeg" alt="" class="imagenes">
    </div>
  </div>
  
</div>
